.StyledLink{
    font-size:20px;
    outline:none;
    border:0px;
    cursor:pointer;
    height:30px;
    color:black;
    margin:20px;
    background-color:#DCDCDC;
    
};


a:hover{
    cursor: pointer;
    color:lightslategray;
    text-decoration:none;
}
.StyledLink:hover{
    cursor: pointer;
    color:lightslategray;
    text-decoration:none;
};


